@import "../config";

@import "base/pages/results";
@import "base/pages/learning_resources";

.box {background: #FFF; border-radius: 4px; box-shadow: 0 0 3px 1px rgba(0, 0, 0, .2); padding: 14px; margin-bottom: 20px;}

#dashboard {margin: 1.5em 0;}

.leftcol {width: 680px;float: left; list-style: none;}

.rightcol {width:260px; float: right}

.box header {background: #2d598e; border-radius: 3px; padding: 5px 10px; color: #FFF;font-size: .8em;text-transform: uppercase;font-weight: normal; overflow: auto; word-spacing: 2px;}

.box header.plain span {color: #aabdd3; text-transform: lowercase}

.results-number {width:30%; float: right; text-align: right; text-transform: none;}

.filters .hint {font-style: italic; margin: 10px 0 0 !important; font-size: .85em; line-height: 1.3em;}

.results li {list-style: none; overflow: hidden; border-bottom: 1px solid #c5c5c5; padding: 20px 15px 10px}

.results li:nth-child(even) {background: #f6f6f6;}

.desc {font-style: italic; font-size: .85em; margin-top: 0;}d

.pagination {text-align: center; overflow: hidden; padding: 20px 0; font-size: .85em;}
.pagination li {display: inline;}
.pagination .chrome, .pagination .selected, .pagination .next, .pagination .prev {padding: 4px 8px;}


a.result-title, a.result-title:visited {color: #111;}

.actions-nav .chrome {
	display: block;
	width:30px;
	float: right;
	text-align: center;
	@include hide-text;
	}
.pagination .current, .pagination a {
	font-style: normal;
	@include inline-block;
	width: 20px;
	}
.pagination a.next_page, .pagination a.previous_page {
	border: none;
	background: none;
	width: auto;
	}
.pagination .disabled, .pagination .current {
	@include inline-block;
	padding-top: 4px;
	}
.chrome, .pagination a {
	border-color: #BBB #BBB #999;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	border-radius: 3px;
	background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #e1e1e1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e1e1e1));
    background: -webkit-linear-gradient(top, #fefefe 0%,#e1e1e1 100%);
    background: -o-linear-gradient(top, #fefefe 0%,#e1e1e1 100%);
    background: -ms-linear-gradient(top, #fefefe 0%,#e1e1e1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e1e1e1',GradientType=0 );
    background: linear-gradient(top, #fefefe 0%,#e1e1e1 100%);
	padding: 5px 2px 1px;
	}
	
.chrome:hover, .pagination a:hover {
	border-color: #999 #999 #666;
	opacity: 1;
	}

.chrome:active, .pagination a:active {
	box-shadow:inset 0 0 5px #bcbcbc
	}
.chrome.download {background: image_url('scidea/icon-dl.png') no-repeat center center;}
.chrome.link {background: image_url('scidea/icon-link.png') no-repeat center center;}
.filters label {display: block; font-weight: bold; font-size: .8em; margin-top: 12px; color: #111;}

.filters select {width:100%;}

.filters input[type=text] {border: 1px solid #ccc; padding: 5px 8px;min-width:3em; width:93%;}

.button-well {background: #F6F6F6;padding: 11px 0;text-align: center;box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, .15);margin-top: 20px;}

.button-search {	
	border-color: #69711a #69711a #414703;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	border-radius: 3px;
	background: #93bd46;
    background: -moz-linear-gradient(top, #93bd46 0%, #648b28 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93bd46), color-stop(100%,#648b28));
    background: -webkit-linear-gradient(top, #93bd46 0%,#648b28 100%);
    background: -o-linear-gradient(top, #93bd46 0%,#648b28 100%);
    background: -ms-linear-gradient(top, #93bd46 0%,#648b28 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93bd46', endColorstr='#648b28',GradientType=0 );
    background: linear-gradient(top, #93bd46 0%,#648b28 100%);
	padding: 10px 32px;
	color: #FFF;
	font-size: .85em;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	}

.button-search:hover {
	border:1px solid #0f1703;
	background: #8cb642;
    background: -moz-linear-gradient(top, #8cb642 0%, #52761e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8cb642), color-stop(100%,#52761e));
    background: -webkit-linear-gradient(top, #8cb642 0%,#52761e 100%);
    background: -o-linear-gradient(top, #8cb642 0%,#52761e 100%);
    background: -ms-linear-gradient(top, #8cb642 0%,#52761e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cb642', endColorstr='#52761e',GradientType=0 );
    background: linear-gradient(top, #8cb642 0%,#52761e 100%);
    }


.chrome:active, .button-search:active {box-shadow:inset 0 0 8px rgba(0,0,0,.55);}
	
.button-search img {vertical-align: top;margin-right:3px;}	

.box-list {
	margin-left: 0;
	
	li {list-style: none;border-bottom: 1px solid #c5c5c5; padding: 10px; line-height: 1.3em;font-size:.85em;}
	}

.box-list li:last-child {border: none; padding-bottom: 0;}

#pages-search li.select label {width: 100%;}

#listview_search p {margin-bottom: 0;}
p.pagination-info {padding-top: 2px;}
.datatable {
	a {
	font-size: 16px;
	font-weight: bold;
	}
	p {
	font-size: 14px;
	font-style: italic;
	}
	td {border-bottom: 1px solid #dedede;}
	th {
    background-color: lighten($color_base, 50%) !important;
    a {font-style: normal !important;}
    
		}
	}
#ui-datepicker-div {display: none;}
